.permission { background:#000; padding:10px; color:#fff; position: fixed;bottom: 0; height: 100%; width: 200px; float:left;}
.permission h3{ padding-left:10px; color:#fff;}
.permission  ul { list-style:none;}
.permission  ul  a{ text-decoration:none; color:#fff;}  

.container-fuild h2 { position: relative;
    z-index: 10;
}
.c3-xgrid-line line {
    stroke: red;
}
.maincontiner{float: right;}