<div class="container-fuild">
<h2>Training</h2>
  <div class="row">
  <div class="col-sm-2 col-lg-2 permission">
  <h3>Permission</h3>
  <ul>
  <li><input type="radio" (click)="getPermission(0,list)" value="0" name="role" checked>All</li>
  <li *ngFor="let ite of item" ><input type="radio" (click)="getPermission(ite.id, list)" value="{{ite.id}}" name="role"> {{ite.role_name}}</li>
   </ul>
  </div>
  <div class="col-lg-10 col-sm-10 maincontiner">
  <table width="100%">
  <tr>
  <th>USERNAME</th>
  <th>FIRST NAME</th>
  <th>LAST NAME</th>
  <th>ACTION</th>  
  </tr>
  
  <tr *ngFor="let table of tables">
  <td>{{table.email}}</td>
  <td>{{table.first_name}}</td>
  <td>{{table.last_name}}</td>
  <td><a href="/edit/{{table.id}}"><span class="glyphicon glyphicon-pencil"></span></a></td>
  
  </tr>
  
  </table>
  </div>
  </div>

</div>
